
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
  }
  
  .header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #707070;
    color: #e6e7e8;
    font-size: 15px;
  }
  
  th,
  td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  tr:nth-child(odd) {
    background-color: #edeef1;
  }
  
  tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
  }
  
  td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #695CFE;
    color: #e6e7e8;
  }
  button {
    border: none;
    padding: 7px ;
    border-radius: 20px;
    background-color: #695CFE;
    color: #e6e7e8;
  }
  
  
  
  
  
  a {
    cursor: pointer;
    transition: all 200ms linear;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .link {
    color: #c4c3ca;
  }
  
  .link:hover {
    color: #ffeba7;
  }
  
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
  }
  
  h4 {
    font-weight: 600;
  }
  
  h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .section {
    position: relative;
    width: 100%;
    display: block;
  }
  
  .full-height {
    min-height: 100vh;
  }
  
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  
  .checkbox:checked+label,
  .checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
  }
  
  .checkbox:checked+label:before,
  .checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
  }
  
  .checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
  }
  
  
  .card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
  }
  
  .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 70%;
    background-color: #707070;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }
  
  .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
  }
  
  .center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
  }
  
  
  
  
  
  
  
  
  .btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
  }
  
  .btn:active,
  .btn:focus {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
  }
  
  .btn:hover {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
  }
  
  .logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
  }
  
  .logo img {
    height: 26px;
    width: auto;
    display: block;
  }
  
  
  
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-detailsS{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-detailsS .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  
  
  
  :root {
  
    --cyan: hsl(180, 62%, 55%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
  }
  
  
  
  
  
  
  
  
  
  .box p {
    color: var(--grayishBlue);
  }
  
  .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px #102770;
    padding: 30px;
    margin: 20px;
  }
  
  .img {
    float: right;
  }
  
  @media (max-width: 450px) {
    .box {
        height: 200px;
    }
  }
  
  @media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
  }
  
  .cyan {
    border-top: 3px solid var(--cyan);
  }
  .red {
    border-top: 3px solid var(--red);
  }
  .blue {
    border-top: 3px solid var(--blue);
  }
  .orange {
    border-top: 3px solid var(--orange);
  }
  
  h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
  }
  
  
  @media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    /* .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    /* .box-down {
        position: relative;
        top: 150px;
    } */
    /* .box {
        width: 20%;
  
    }
    .header p {
        width: 30%;
    } */
  
  }
  
  
  .project-list-table {
    border-collapse: separate;
    border-spacing: 0 12px
  }
  
  .project-list-table tr {
    background-color: #fff
  }
  
  .table-nowrap td,
  .table-nowrap th {
    white-space: nowrap;
  }
  
  .table-borderless>:not(caption)>* {
    border-bottom-width: 0;
  }
  
  .table>:not(caption)> {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
  .avatar-sm {
    height: 2rem;
    width: 2rem;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  }
  
  img,
  svg {
    vertical-align: middle;
  }
  
  a {
    color: #3b76e1;
    text-decoration: none;
  }
  
  .badge-soft-danger {
    color: #f56e6e !important;
    background-color: rgba(245, 110, 110, .1);
  }
  
  .badge-soft-success {
    color: #63ad6f !important;
    background-color: rgba(99, 173, 111, .1);
  }
  
  .badge-soft-primary {
    color: #695CFE !important;
    background-color: rgba(59, 118, 225, .1);
  }
  
  .badge-soft-info {
    color: #57c9eb !important;
    background-color: rgba(87, 201, 235, .1);
  }
  
  .avatar-title {
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  
  .bg-soft-primary {
    background-color: rgba(59, 118, 225, .25) !important;
  }
  
  
  .containerAll{
    display: flex;
    height: 90vh;
    align-items: center;
  }
  
  .contourContainer {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
  }
  
  
  