<div class="container-fluid" style="overflow: hidden; background-color: rgba(255, 235, 205, 0.547);">
    <div class="row flex-nowrap">
      <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" *ngIf="menuBureau"
        style="height: 100vh;">
        <app-menu></app-menu>
        <!-- </div> -->
      </div>
      <main class="col " style=" height: 100vh ; overflow: scroll; overflow-x: hidden;">
        <nav class=" bg-danger  navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
          <h1 style="width: 20px;"></h1>
          <a href="#" class="sidebar-toggler flex-shrink-0" data-bs-toggle="collapse" data-bs-target="#sidebar"
            aria-expanded="false" (click)="afficheMenuMobile()" aria-controls="collapseWidthExample">
            <i class="fa fa-bars"></i>
          </a>
          <div class="d-none d-md-flex ms-4">
            <input type="text" [(ngModel)]="term"
              class="form-control border-0 border-2 border-start border-end border-alert" type="search"
              placeholder="rechercher">
          </div>
          <div class="d-flex justify-content-end  w-100">
            <app-navbar></app-navbar>
          </div>
        </nav>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
              <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center  p-4">
                  <i class='bx bxs-trophy fa-3x'></i>
                  <div class="ms-3">
                    <p class="mb-2">Total Annonceurs</p>
                    <h6 class="mb-0">{{ListeAnnonceur?.length || 0}}</h6>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center  p-4">
                  <i class='bx bxs-trophy fa-3x'></i>
                  <div class="ms-3">
                    <p class="mb-2">Challenge à venir</p>
                    <h6 class="mb-0">{{avenir?.length || 0}}</h6>
                  </div>
                </div>
              </div> -->
              <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center  p-4">
                  <i class='bx bxs-user-circle fa-3x'></i>
                  <div class="ms-3">
                    <p class="mb-2">Total Utilisateur</p>
                    <h6 class="mb-0">{{listuser?.length || 0}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <!-- <div class="bg-light rounded d-flex align-items-center  p-4">
                  <i class='bx bxs-category fa-3x '></i>
                  <div class="ms-3">
                    <p class="mb-2">Total Catégories</p>
                    <h6 class="mb-0">{{categorie?.length || 0}}</h6>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        <div class="container-fluid pt-4 px-4">
          <div class="example-button-row d-flex justify-content-end">
            <button data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4" (click)=" reset()">
              <i class='bx bxs-message-square-add fa-1x' style="color: white;"></i>
              Ajouter un Annonce
            </button>
            <!--========================== Modal ajouter Annonce ==================================================-->
            <div class="modal fade" id="staticBackdrop4" tabindex="100" aria-labelledby="exampleModalLabel4"
              aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content w-100">
                  <div class="modal-header" style="background-color: #695CFE;">
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                      style="color:white !important"></button>
                  </div>
                  <div class="container">
                    <div class="title">Ajouter un Annonce</div>
                    <div class="content">
                      <form action="#" [formGroup]="challengeForm" (ngSubmit)="onSubmit()">
                        <div class="user-details">
                          <div class="row">
                            <div class="input-box col">
                              <span class="details">Nom de l'annonce</span>
                              <input type="text" name="titreannonce" formControlName="titreannonce" placeholder="Donner un titre">
                            </div>
                            <br>
                            <div class="input-box col">
                              <span class="details">Prix :</span>
                              <input type="number" name="prixannonce" formControlName="prixannonce" placeholder="Donner le prix">
                            </div>
                            <div class="input-box col">
                              <span class="details">Description</span>
                              <input type="text" name="descriptionannonce" formControlName="descriptionannonce"
                                placeholder="Donner une description">
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-box col">
                              <span class="details">Date de début</span>
                              <input type="date" name="dateDebut" formControlName="dateDebut" placeholder="Date de debut"
                                >
                            </div>
                            <div class="input-box col">
                              <span class="details">Date de fin</span>
                              <input type="date" name="dateFin" formControlName="dateFin" placeholder="Date de fin">
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-box col">
                          <span class="label">Selectionner un Annonceur</span>
                          <select class="input-box col" name="idannonceur" [(ngModel)]="idannonceur">
                            <option value="" disabled selected hidden>selectionner un annonceur</option>
                            <ng-container *ngFor="let idannonceur of ListeAnnonceur">
                              <option class="input" [value]="idannonceur.id">{{idannonceur.username}}</option>
                            </ng-container>
                          </select>
                        </div>
                        <div class="input-box col">
                          <span class="label">Sélectionner un site_web</span>
                          <select class="input-box col" name="idsitepopulaire" (change)="recupereImag($event)">
                            <option value="" disabled selected hidden>Selectionner un site_web</option>
                            <ng-container *ngFor="let listeSite of ListeSite">
                              <option [value]="listeSite.id">{{listeSite.nomsitepopulaire}}</option>
                            </ng-container>
                          </select>
                        </div>
  
                          </div>
                          <div class="input-box">
                            <span class="details">Choisir une image</span>
                            <input type="file" name="image" accept="image/*" formControlName="image"
                              (change)="onFileChangePhoto($event)" placeholder="photo" class="py-2">
                          </div>
                        </div>
  
                        <div class="button">
                          <input type="submit" value="Créer">
                        </div>
                      </form>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <!-- Modal -->
            <!-- ====================================Modification challenge=============================================== -->
            <div class="modal fade" id="staticBackdrop1" tabindex="100" aria-labelledby="exampleModalLabel1"
              aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content w-100">
                  <div class="modal-header" style="background-color: #695CFE;">
                    <h1 style="color: white; font-size: 2em;">Modifier un Annonce</h1>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="container">
                    <div class="content">
                      <form action="#" [formGroup]="challengeForm" (ngSubmit)="onSubmit()">
                        <div class="user-details">
                          <div class="row">
                            <div class="input-box col">
                              <span class="details">Nom de l'annonce</span>
                              <input type="text" name="titreannonce" formControlName="titreannonce" placeholder="Donner un titre">
                            </div>
                            <br>
                            <div class="input-box col">
                              <span class="details">Prix :</span>
                              <input type="number" name="prixannonce" formControlName="prixannonce" placeholder="Donner le prix">
                            </div>
                            <div class="input-box col">
                              <span class="details">Description</span>
                              <input type="text" name="descriptionannonce" formControlName="descriptionannonce"
                                placeholder="Donner une description">
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-box col">
                              <span class="details">Date de début</span>
                              <input type="date" name="dateDebut" formControlName="dateDebut" placeholder="Date de debut"
                                >
                            </div>
                            <div class="input-box col">
                              <span class="details">Date de fin</span>
                              <input type="date" name="dateFin" formControlName="dateFin" placeholder="Date de fin">
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-box col">
                          <span class="label">Selectionner un Annonceur</span>
                          <select class="input-box col" name="idannonceur" [(ngModel)]="idannonceur">
                            <option value="" disabled selected hidden>selectionner un annonceur</option>
                            <ng-container *ngFor="let idannonceur of ListeAnnonceur">
                              <option class="input" [value]="idannonceur.id">{{idannonceur.username}}</option>
                            </ng-container>
                          </select>
                        </div>
                        <div class="input-box col">
                          <span class="label">Sélectionner un site_web</span>
                          <select class="input-box col" name="idsitepopulaire" (change)="recupereImag($event)">
                            <option value="" disabled selected hidden>Selectionner un site_web</option>
                            <ng-container *ngFor="let listeSite of ListeSite">
                              <option [value]="listeSite.id">{{listeSite.nomsitepopulaire}}</option>
                            </ng-container>
                          </select>
                        </div>
  
                          </div>
                          <div class="input-box">
                            <span class="details">Choisir une image</span>
                            <input type="file" name="image" accept="image/*" formControlName="image"
                              (change)="onFileChangePhoto($event)" placeholder="photo" class="py-2">
                          </div>
                        </div>
  
                        <div class="button">
                          <input type="submit" value="Créer">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ====================================Ajouter critere=============================================== -->
  
            <div class="modal fade" id="staticBackdrop6" tabindex="100" aria-labelledby="exampleModalLabel6"
              aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content w-100">
                  <button data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4"
                    style="margin-left: auto; width: 8%;">
                    X
                  </button>
                  <div class="container">
                    <div class="title">Ajouter un critère</div>
                    <div *ngIf="errorMessage" style="color: red; padding: 2%;">{{ errorMessage }}</div>
                    <div class="content">
                      <form action="#" [formGroup]="critereForm" (ngSubmit)="onSubmitCritere()">
                        <div class="user-details">
                          <div class="input-box">
                            <span class="details">Critere</span>
                            <input type="text" name="criteres" formControlName="criteres"
                              placeholder="Donner une critere">
                          </div>
                          <div class="input-box">
                            <span class="details">Choisir un barème</span>
                            <ng-multiselect-dropdown [placeholder]="'Barème'" [data]="options4"
                              formControlName="baremeids" [settings]="bareme" defaultOpen="false">
                            </ng-multiselect-dropdown>
                          </div>
  
                        </div>
                        <button data-mdb-toggle="modal" data-mdb-target="#staticBackdrop8">
                          <i class='bx bxs-message-square-add fa-1x' style="color: white;"></i>
                          Ajouter un barème
                        </button>
                        <div class="button">
                          <input type="submit" value="Créer">
                        </div>
                      </form>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <!-- ====================================Ajouter Barème=============================================== -->
  
            <div class="modal fade" id="staticBackdrop8" tabindex="100" aria-labelledby="exampleModalLabel8"
              aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content w-100">
                  <button data-mdb-toggle="modal" data-mdb-target="#staticBackdrop6"
                    style="margin-left: auto; width: 8%;">
                    X
                  </button>
                  <div class="container">
                    <div class="title">Ajouter un Barème</div>
                    <div *ngIf="errorMessage" style="color: red; padding: 2%;">{{ errorMessage }}</div>
                    <div class="content">
                      <form action="#" [formGroup]="baremeForm" (ngSubmit)="onSubmitBareme()">
                        <div class="user-details">
                          <div class="input-box" style="width: 100% !important;">
                            <span class="details">Barème</span>
                            <input type="number" name="bareme" formControlName="bareme" placeholder="Donner bareme">
                          </div>
                        </div>
                        <div class="button">
                          <input type="submit" value="Créer">
                        </div>
                      </form>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <!-- ====================================Ajouter categoriee et technologies=============================================== -->
            <div class="modal fade" id="staticBackdrop7" tabindex="100" aria-labelledby="exampleModalLabel7"
              aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content w-100">
                  <button data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4"
                    style="margin-left: auto; width: 8%;">
                    X
                  </button>
  
                  <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                      <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Catégorie </span><span>Technologie</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                          <div class="card-3d-wrapper">
                            <div class="card-front">
                              <div class="center-wrap">
                                <div class="content">
                                  <form action="#" [formGroup]="cateForm" (ngSubmit)="onSubmitCate()">
                                    <div class="user-details">
                                      <div class="input-box" style="width: 100% !important;">
                                        <span class="details" style="color: white;">Categories</span>
                                        <input type="text" name="cate" formControlName="cate"
                                          placeholder="Donner un Categorie" style="width: 100% !important;">
                                      </div>
                                    </div>
                                    <div class="button">
                                      <input type="submit" value="Créer" style="width: 96% !important;">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <div class="card-back">
                              <div class="content">
                                <form action="#" [formGroup]="technoForm" (ngSubmit)="onSubmitTechno()">
                                  <div class="user-details">
                                    <div class="input-box" style="width: 100% !important;">
                                      <span class="details" style="color: white;">Technologie</span>
                                      <input type="text" name="techno" formControlName="techno"
                                        placeholder="Donner une technologie" style="width: 90% !important;">
                                    </div>
                                  </div>
                                  <div class="button">
                                    <input type="submit" value="Créer" style="width: 90% !important;">
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
          <!-- ====================================Tableau challenge=============================================== -->
          <div class="row g-4 py-2">
  
            <div class="col-sm-12">
              <div class="bg-light  rounded p-2">
                <div class="chart-container">
                  <div class="row py-4">
                    <div class="col-md-8 ">
                      <h3 style="color: #707070;">La liste des Annonce</h3>
                    </div>
                    <!-- <div class="col-md-2"></div> -->
                    <div class="col-md-4">
                      <input type="text" [(ngModel)]="term"
                        class="form-control border-0 border-2 border-start border-end border-alert" type="search"
                        placeholder="rechercher">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="">
                        <div class="table-responsive">
                          <table class="table project-list-table table-nowrap align-middle table-borderless">
                            <thead>
                              <!-- ----------------------- Tittre tableau en haut---------------------------
                                    --------------------------------------------------- -->
                              <tr class=" text-light" style="background-color: #695CFE;">
                                <th scope="col">N°</th>
                                <th scope="col">Nom Annonceur</th>
                                <th scope="col">Adresse Annonceur</th>
                                <th scope="col">Numéro</th>
                                <th scope="col">Budget</th>
                                <th scope="col">Email</th>
                                <th scope="col">Annonce</th>
                                <th scope="col">Solution</th>
                                <th scope="col" style="width: 300px;">Action</th>
                              </tr>
                              <!-- ----------------------- Fin Tittre tableau en haut---------------------------
                                    --------------------------------------------------- -->
                            </thead>
                            <tbody class="text-dark">
                              <!-- ----------------------- Liste Element tableau start---------------------------
                                    --------------------------------------------------- -->
                              <tr
                                *ngFor="let annonceur of ListeAnnonceur |filter:term | paginate: { itemsPerPage: 5, currentPage: p }, let i = index">
  
                                <td>
                                  <p class="text-body mb-0">{{i+1}}</p>
                                </td>
                                <td>
                                  <p class="text-body mb-0">{{annonceur.username}}</p>
  
                                <td>
                                  <p class="text-body mb-0" *ngIf="isCollapsed">{{ annonceur.adrresseannonceur.slice(0, 40) }}...</p>
                                  <p class="text-body mb-0" *ngIf="!isCollapsed">{{ annonceur.adrresseannonceur }}</p>
                                  <a href="javascript:void(0)" (click)="isCollapsed = !isCollapsed">{{ isCollapsed ?
                                    'Plus' : 'Moins' }}</a>
                                </td>
  
  
                                <td>
                                  <p class="text-body mb-0">{{annonceur.numeroannonceur}}</p>
                                </td>
                                <td>
                                  <p class="text-body mb-0">{{annonceur.budgetannonceur}}</p>
                                </td>
                                <!-- <td>
                                    <p class="text-body mb-0">{{annonceur.email}}</p>
    
                                  <td> -->
                                    <td>
                                        <p class="text-body mb-0" *ngIf="isCollapsed">{{ annonceur.email.slice(0, 40) }}...</p>
                                        <p class="text-body mb-0" *ngIf="!isCollapsed">{{ annonceur.email }}</p>
                                        <a href="javascript:void(0)" (click)="isCollapsed = !isCollapsed">{{ isCollapsed ?
                                          'Plus' : 'Moins' }}</a>
                                      </td>
                                <td >
                                  <p class="text-body mb-0">{{ListeannoncebyId?.image}}</p>
                                </td>
                                <td>
                                  <p class="text-body mb-0"><button data-mdb-toggle="modal" data-mdb-target="#critere"
                                      (click)=" affichage(annonceur.id)">Plus...</button></p>
                                </td>
                                <td>
                                  <p class="text-body mb-0"><button [routerLink]="['/solution',annonceur.id]">Plus...</button>
                                  </p>
                                </td>
                                <td>
                                  <i class="fa-sharp fa-regular fa-pen-to-square" (click)=" affichage(annonceur.id)" (click)=" affichage2(annonceur.id)" 
                                    data-mdb-toggle="modal" data-mdb-target="#staticBackdrop1"
                                    style="font-size: 2em; "></i>
                                   &nbsp;&nbsp;
                                    <i class="fa-solid fa-trash-can" (click)=" affichage3(annonceur.id)" 
                                    style="font-size: 2em; "></i>
                                </td>
                              </tr>
                              <!-- ----------------------- Fin Element liste tableau---------------------------
                                    ----------------------------------------------------------------------------- -->
  
  
                            </tbody>
                          </table>
  
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls style="font-size: .9em;" (pageChange)="p =$event" nextLabel="Suivant"
                    previousLabel="Précedent"></pagination-controls>
                </div>
              </div>
            </div>
            <div class="modal fade" id="critere" tabindex="100" aria-labelledby="critere" aria-hidden="true">
              <div class="modal-dialog d-flex justify-content-center">
                <div class="modal-content w-100">
                  <button style="margin-left: auto;" type="button" class="btn-close" data-mdb-dismiss="modal"
                    aria-label="Close"></button>
                  <div class="row2-container">
                    <div class="box cyan" *ngFor="let cpidc of critereParIdChallenge let i = index">
                      <h2>Critère {{i+1}} </h2>
                      <p>{{cpidc.critere}}</p>
                      <span class="img">Bareme <b>{{cpidc.bareme[0].bareme}}</b> points</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        
        <app-footer></app-footer>
      </main>
    </div>
  </div>